#ID1{
            width:200px;
            border:10px solid yellow;
            border-radius:10px;
            padding:20px;
            margin:100px;
            margin-top:30px;
            margin-bottom:20px;
            background-color:RED;
            
            

            float:left;
        }
    P{
           COLOR:WHITE;
        }
    #id2{
        background-color:lightblue;
        border:10px solid green;
        width:200px;
        padding:15px;

        float:right;

    }

#box1{
    width:350px;
    height:350px;
    background-color:bisque;
    border:10px solid white;
    position:relative;
    margin: 30px auto;
}
#box2{
    width:100px;
    height:100px;
    background-color:palegreen;
    border:10px solid chocolate;
    margin-top:10px;
    position:absolute;
    top:60px;
    right:0px;    
}
#box3{
    width:100px;
    height:100px;
    background-color:palegreen;
    border:5px solid black;
    position:absolute;
    top:130px;
    left:120px;
    box-shadow: 5px 5px 5px red , -5px -5px 5px yellow;
    text-transform: lowercase;
    
}
h1{
    text-shadow: 5px 5px 5px yellow, -5px -5px 5px red;
}
#box4{
    width:150px;
    height:150px;
    background-color:bisque;
    border:10px solid white;
    position:relative;
    margin: 30px auto;
    text-align:center;
    
   
}
#box5{
    width:150px;
    height:150px;
    background-color:bisque;
    border:10px solid white;
    position:relative;
    margin: 30px auto;
    transform: scaleX(3);
}
#box6{
    width:150px;
    height:150px;
    background-color:bisque;
    border:10px solid white;
    position:relative;
    margin: 30px auto;
    transform: rotate(45deg);
}
#box7{
    width:150px;
    height:150px;
    background-color:bisque;
    border:10px solid white;
    position:relative;
    margin: 30px auto;
    transform: skew(45deg);
}
#box8{
    width:150px;
    height:150px;
    background-color:bisque;
    border:10px solid white;
    position:relative;
    margin: 30px auto;
    transform: translateX(100px);
}
#box9{
    width:150px;
    height:150px;
    background-color:bisque;
    border:10px solid white;
    position:relative;
    margin: 30px auto;
    transform: skewY(25deg);
}
#box1 p{
    margin-top:230px;
}
a{
    background-color:skyblue;
    color:blue;
}
a:hover{
    background-color: red;
    color: white;
}